{% extends 'layout/basic.html' %}
{% block title %}
    Библиотека :: Добавить книгу
{% endblock %}
{% block content %}
    <h1>Добавить книгу</h1>
    <form action="{{ url_for('new_book') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Название:</label>
            <input type="text" maxlength="100" name="name" placeholder="Название книги" class="form-control">
            
            <label for="author">Автор:</label>
            <input type="text" maxlength="100" name="author" placeholder="Автор книги" class="form-control">
            
            <label for="genre">Жанр:</label>
            <input type="text" maxlength="100" name="genre" placeholder="Жанр книги" class="form-control">
            
            <label for="file">Файл книги:</label>
            <input type="file" name="file" class="form-control">
            
            <button type="submit">Добавить</button>
        </div>
    </form>
{% endblock %}
